DATABASE_URL="postgresql://postgres:postgres@localhost:5432/linkedin_people_hunt"
AUTH_SECRET="change-me"
AUTH_URL="http://localhost:3001"
AUTH_COOKIE_DOMAIN=""
BASE_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="LinkedIn People Hunt"
NEXT_PUBLIC_HUB_JOB_IMPORT_URL=""
NEXT_PUBLIC_HUB_PEOPLE_HUNT_URL="http://localhost:3000"
HUB_INTERNAL_AUTH_KEY="change-me"
LINKEDIN_EXTENSION_SHARED_SECRET="change-me"
DEFAULT_DAILY_SEND_CAP="40"
DEFAULT_RUN_MAX_PAGES="5"
SALESFORCE_LOGIN_URL="https://login.salesforce.com"
SALESFORCE_CLIENT_ID=""
SALESFORCE_CLIENT_SECRET=""
SALESFORCE_USERNAME=""
SALESFORCE_PASSWORD=""
SALESFORCE_SECURITY_TOKEN=""
SALESFORCE_FIELD_LINKEDIN_URL=""
SALESFORCE_FIELD_SEARCH_URL=""
SALESFORCE_FIELD_REPLY_SNIPPET=""
